{% extends "portfolio/extender.html" %}

{% block content %}
{% load static %}

<div id="index-banner" class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
            <h1 class="header center white-text" style="font-family: 'Montserrat'; font-weight: 100;">Courses Platform</h1>
    
            </div>
        </div>
        <div class="parallax"><img src=" {% static "portfolio/images/classes.jpeg" %}" alt="Unsplashed background img 1"></div>
    </div>
    
    
    <div class="container">
        <div class="section">
        
            <!--   Icon Section   -->
            <div class="row">
            <div class="col s12 m8">
            
        
                <h5 class="center" style="color: #003366; font-family: 'Montserrat'; font-weight: 100;">Overview</h5>
    
                <p>A simple web application that allows users to add, rate, and review restaurants.</p>
    
                <p>Built with the MEAN stack, this application incorporates the front-end framework Angular with a MongoDB database. Bootstrap was also used to design the front-end website.</p>
           
                <p>Users can add, edit, or delete restaurants, read existing reviews, and add reviews for a particular restaurant.</p>

            </div>
    
    
            <div class="col s12 m4">
      
                <h5 class="center" style="color: #003366; font-family: 'Montserrat'; font-weight: 100;">Language</h5>
    
                <p class="light center" style="margin-top: -3px; margin-bottom: -3px;">Java</p>
    
                <h5 class="center" style="color: #003366; font-family: 'Montserrat'; font-weight: 100;">Technologies</h5>
    
                <p class="light center" style="margin-top: -3px; margin-bottom: -4px;">Spring Boot</p>
                <p class="light center" style="margin-top: -3px; margin-bottom: -4px;">MySQL</p>
                <p class="light center" style="margin-top: -3px; margin-bottom: -4px;">Apache Tomcat</p>
                <p class="light center" style="margin-top: -3px; margin-bottom: -4px;">Bootstrap</p>
            </div>
            </div>
        
        </div>
    <hr>


        <div class="col s12">
    
            <h4 class="center" style="color: #003366; font-family: 'Montserrat'; font-weight: 100; margin-top: 20px; margin-bottom: 20px;">Preview Photos</h4>
    
            <div class="slider">
            <ul class="slides">
                <li>
                <img src="{% static "portfolio/images/courses_list.png" %}"> 
                </li>
                <li>
                <img src="{% static "portfolio/images/courses_view.png" %}"> 
                </li>
                <li>
                <img src="{% static "portfolio/images/courses_create.png" %}"> 
                </li>
                <li>
                <img src="{% static "portfolio/images/courses_edit.png" %}">
                </li>
            </ul>
            </div>
            <br><br>
        </div>

        <div class="center" style="margin: 20px;">
            <a class="waves-effect waves-light btn-large" href="//github.com/estarlight/courses-platform">GitHub Code</a>
        </div>


    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static "portfolio/js/materialize.js" %}"></script>
    <script src="{% static "portfolio/js/init.js" %}"></script>
    <script>
            $(document).ready(function(){
          $('.slider').slider();
        });
    </script>

{% endblock %}