{% extends "portfolio/extender.html" %}

{% block content %}
{% load static %}

<div id="index-banner" class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
            <h1 class="header center white-text" style="font-family: 'Montserrat'; font-weight: 100;">Handy Helper</h1>
    
            </div>
        </div>
        <div class="parallax"><img src="{% static "portfolio/images/handy_helper.jpeg" %}" alt="Unsplashed background img 1"></div>
    </div>
    
    
    <div class="container">
        <div class="section">
        
            <!--   Icon Section   -->
            <div class="row">
            <div class="col s12 m8">
            
        
                <h5 class="center" style="color: #003366; font-family: 'Montserrat'; font-weight: 100;">Overview</h5>
    
                <p class="light">Handy Helper is an online job board where users can create postings to hire helpers for small tasks, or to find jobs they want to be hired for. Job posters can create, edit, and delete job postings, and job seekers can view a posting, add a job to “My Jobs”, or mark a job “Done” once the task is complete.</p>
    
                <p class="light">Back-end validations ensure that there are valid inputs for login and registration.</p>
           
            </div>
    
    
            <div class="col s12 m4">
      
                <h5 class="center" style="color: #003366; font-family: 'Montserrat'; font-weight: 100;">Language</h5>
    
                <p class="light center" style="margin-top: -1px;">Python</p>
    
                <h5 class="center" style="color: #003366; font-family: 'Montserrat'; font-weight: 100;">Technologies</h5>
    
                <p class="light center" style="margin-top: -1px; margin-bottom: -1px;">Django</p>
                <p class="light center" style="margin-top: -1px; margin-bottom: -1px;">MySQLite</p>
                <p class="light center" style="margin-top: -1px; margin-bottom: -1px;">Bootstrap</p>
            </div>
            </div>
        
        </div>
    <hr>

    <div class="container">

            <h4 class="center" style="color: #003366; font-family: 'Montserrat'; font-weight: 100; margin-top: 20px; margin-bottom: 20px;">Watch Video</h4>    

    <div class="video-container">
            <iframe width="853" height="480" src="//www.youtube.com/embed/HEWepJBtQNI" frameborder="0" allowfullscreen></iframe>
        </div>

    <div class="center" style="margin: 20px;">
        <a class="waves-effect waves-light btn-large" href="//18.224.23.82/">Go to Project</a>
        <a class="waves-effect waves-light btn-large" href="//github.com/estarlight/job-board">GitHub Code</a>
    </div>

    </div>

{% endblock %}