<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Parallax Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/portfolio/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/portfolio/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:light,400,500,800" rel="stylesheet">

</head>
<body>

{% extends "portfolio/extender.html" %}



{% block content %}

  <div id="index-banner" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <h1 class="header center white-text text-lighten-2" style="font-family: 'Montserrat'; font-weight: 100;">Esther Lee</h1>
        <div class="row center">
          <h5 class="header col s12 white-text text-lighten-2 light" style="font-family: 'Montserrat'; font-weight: 100;">Full Stack Developer and Copywriter</h5>
        </div>
        <!-- <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div> -->
        <!-- <br><br> -->

      </div>
    </div>
    <div class="parallax"><img src="static/portfolio/images/nightsky.jpeg" alt="Unsplashed background img 1"></div>
  </div>


  <div id="about" class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 l5" style="margin-top: 80px;">
          <div class="icon-block">
            <img class="responsive-img" src="static/portfolio/images/esther_cropped.jpg">
          </div>
        </div>

        <div class="col s12 l7" style="margin-top: 10px;">
          <div class="icon-block">
            <h5 class="center" style="font-family: 'Montserrat'; font-weight: 100;">Hi There, I'm Esther!</h5>
            <h6 class="center grey-text" style="font-family: 'Montserrat'; font-weight: 100;">A little bit about me...</h6>

            <p class="light">I’m a full stack developer with experience working in Python, Java, and JavaScript.</p>

            <p class="light">I have previously worked in marketing for a real estate SaaS company for 4.5 years, which has allowed me to expand both my creative and analytical skills on the job. My coding ability combined with my background in creative communications makes me a strong problem-solver and communicator, and a better equipped, more well-rounded programmer.</p>
                
            <p class="light">I am looking to contribute my current skill set as well as develop new ones at an innovative company that aims to make people’s lives easier through technology.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
      <div class="section">
  
        <!--   Icon Section   -->
        <div class="row">

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center indigo-text text-darken-4"><i class="material-icons">sort_by_alpha</i></h2>
              <table class="centered">
                  <thead>
                    <tr>
                        <th>Languages</th>
                    </tr>
                  </thead>
          
                  <tbody>
                    <tr>
                      <td>Python</td>
                    </tr>
                    <tr>
                      <td>Java</td>
                    </tr>
                    <tr>
                      <td>JavaScript</td>
                    </tr>
                  </tbody>
                </table>
            
            
            </div>
          </div>
  
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center indigo-text text-darken-4"><i class="material-icons">web</i></h2>
              <table class="centered">
                  <thead>
                    <tr>
                        <th>Front End</th>
                    </tr>
                  </thead>
          
                  <tbody>
                    <tr>
                      <td>HTML5</td>
                    </tr>
                    <tr>
                      <td>CSS3</td>
                    </tr>
                    <tr>
                      <td>jQuery</td>
                    </tr>
                    <tr>
                      <td>AJAX</td>
                    </tr>
                    <tr>
                      <td>Bootstrap</td>
                    </tr>
                    <tr>
                      <td>Materialize</td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
  
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center indigo-text text-darken-4"><i class="material-icons">settings</i></h2>
              <table class="centered">
                  <thead>
                    <tr>
                        <th>Frameworks and Libraries</th>
                    </tr>
                  </thead>
          
                  <tbody>
                    <tr>
                      <td>Django<span style="color: white;">..................</span>Node.js</td>
                    </tr>
                    <tr>
                      <td>Flask<span style="color: white;">.................</span>Express.js</td>
                    </tr>
                    <tr>
                      <td>Angular 6<span style="color: white;">...........</span>Mongoose</td>
                    </tr>
                    <tr>
                      <td>Spring MVC<span style="color: white;">..........</span>Socket.io</td>
                    </tr>
                  </tbody>
                </table>

            </div>
          </div>
        </div>
    
        <div class="row">
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center indigo-text text-darken-4"><i class="material-icons">archive</i></h2>
                <table class="centered">
                    <thead>
                      <tr>
                          <th>Databases</th>
                      </tr>
                    </thead>
            
                    <tbody>
                      <tr>
                        <td>MySQL</td>
                      </tr>
                      <tr>
                        <td>SQLite</td>
                      </tr>
                      <tr>
                        <td>MongoDB</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
    
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center indigo-text text-darken-4"><i class="material-icons">open_in_browser</i></h2>
                <table class="centered">
                    <thead>
                      <tr>
                          <th>Marketing</th>
                      </tr>
                    </thead>
            
                    <tbody>
                      <tr>
                        <td>WordPress</td>
                      </tr>
                      <tr>
                        <td>Hubspot</td>
                      </tr>
                      <tr>
                        <td>Pardot</td>
                      </tr>
                      <tr>
                        <td>Mailchimp</td>
                      </tr>
                      <tr>
                        <td>Hootsuite</td>
                      </tr>
                      <tr>
                        <td>Slack</td>
                      </tr>
                      <tr>
                        <td>Salesforce</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
    
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center indigo-text text-darken-4"><i class="material-icons">gesture</i></h2>
                <table class="centered">
                    <thead>
                      <tr>
                          <th>Design</th>
                      </tr>
                    </thead>
            
                    <tbody>
                      <tr>
                        <td>Photoshop</td>
                      </tr>
                      <tr>
                        <td>Canva</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
  
    </div>
  </div>


  <div id="projects" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h1 class="header col s12 center white-text text-lighten-2" style="font-family: 'Montserrat'; font-weight: 100;">Projects</h1>
          <!-- <h5 class="header col s12 light" style="font-family: 'Montserrat'; font-weight: 100;">A modern responsive front-end framework based on Material Design</h5> -->
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/static/portfolio/images/green.jpeg" alt="Unsplashed background img 2"></div>
  </div>



  <div class="row" style="margin: 60px;">

   <div class="row">
    <div class="col s12 l4">
      <div class="card">
        <div class="card-image">
          <img src="/static/portfolio/images/travel.jpeg">
          <span class="card-title text-grey brown darken-1" style="font-family: 'Montserrat'; font-weight: 100; padding-top: 3px; padding-bottom: 3px;">Travel Itineraries</span>
        </div>
        <div class="card-content">
          <p>A "Pinterest for travel itineraries" that allows users to search, upload, and save their favorite itineraries to plan future international travels.</p>
        </div>
        <div class="card-action">
          <a href="/projects/travel_itineraries">See Details</a>
        </div>
      </div>
    </div>

    
    <div class="col s12 l4">
      <div class="card">
        <div class="card-image">
          <img src="/static/portfolio/images/0115.jpg">
          <span class="card-title blue-text" style="font-family: 'Montserrat'; font-weight: 100; padding-top: 5px;; padding-bottom: 5px;">Skin Deep</span>
        </div>
        <div class="card-content">
          <p>A cosmetics review site that allows users to search the database for a brand or product, and filter reviews by specific physical characteristics.</p>
        </div>
        <div class="card-action">
          <a href="/projects/skin_deep">See Details</a>
        </div>
      </div>
    </div>

                  
    <div class="col s12 l4">
      <div class="card">
        <div class="card-image">
          <img src="/static/portfolio/images/handy_helper.jpeg">
          <span class="card-title" style="font-family: 'Montserrat'; font-weight: 100;">Handy Helper</span>
        </div>
        <div class="card-content">
          <p>An online job board where users can create postings to hire helpers for small tasks, 
            or to find jobs they want to be hired for.</p>
        </div>
        <div class="card-action">
          <a href="/projects/handy_helper">See Details</a>
        </div>
      </div>
    </div>

  </div>

    <div class="row">

      <div class="col s12 l4">
          <div class="card">
            <div class="card-image">
              <img src="/static/portfolio/images/restaurant.jpeg">
              <span class="card-title" style="font-family: 'Montserrat'; font-weight: 100;">Restaurant Reviewer</span>
            </div>
            <div class="card-content">
              <p>A simple web application that allows users to add, rate, and review restaurants, using a NoSQL database.</p>
            </div>
            <div class="card-action">
              <a href="/projects/restaurant_reviewer">See Details</a>
            </div>
          </div>
        </div>
    
        <div class="col s12 l4">
            <div class="card">
              <div class="card-image">
                <img src="/static/portfolio/images/classes.jpeg">
                <span class="card-title" style="font-family: 'Montserrat'; font-weight: 100;">Courses Platform</span>
              </div>
              <div class="card-content">
                <p>A site where teachers can create, edit, view, or delete classes, and students can add
                    classes to their course list.</p>
              </div>
              <div class="card-action">
                <a href="/projects/courses">See Details</a>
              </div>
            </div>
          </div>



    <div class="col s12 l4">
        <div class="card">
          <div class="card-image">
            <img src="/static/portfolio/images/fitness.jpeg">
            <span class="card-title" style="font-family: 'Montserrat'; font-weight: 100;">Just You Fitness</span>
          </div>
          <div class="card-content">
            <p>A lead-generating business website geared towards educating personal trainers about the Just You Fitness franchise.</p>
          </div>
          <div class="card-action">
            <a href="/projects/justyoufitness">See Details</a>
          </div>
        </div>
      </div>

    </div>


  </div>


  <div id = "contact" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
            <h1 class="header col s12 center white-text text-lighten-2" style="font-family: 'Montserrat'; font-weight: 100;">Contact</h1>
          <!-- <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5> -->
        </div>
      </div>
    </div>
    {% load static %}
    <div class="parallax"><img src="{% static "portfolio/images/background3.jpg" %}" alt="Unsplashed background img 3"></div>
  </div>

  <div class="container">
    <br>
    <form action="https://formspree.io/88.elee@gmail.com" method="post">
      {% csrf_token %}

      <div class="row" style="margin-top: 0; margin-bottom: 0;">
        <div class="input-field col s6">
          First Name: <input name="first_name" type="text" class="validate">
        </div>
        <div class="input-field col s6">
          Last Name: <input name="last_name" type="text" class="validate">
        </div>
      </div>

      <div class="row" style="margin-top: 0; margin-bottom: 0;">
        <div class="input-field col s12">
        Your Email: <input type="email" name="email">
        </div>
    </div>

    <div class="row" style="margin-top: 0; margin-bottom: 0;">
      <div class="input-field col s12">
      Subject: <input type="text" name="subject">
      </div>
    </div>

    <div class="row" style="margin-top: 0; margin-bottom: 0;">
      <div class="input-field col s12">
      Your Message: <textarea class="materialize-textarea" name="message"></textarea>
      </div>
    </div>

    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    </button>
    
    </form>
    <br><br>


  </div>


 
<!-- 
  <div class="container">
      <div class="section">
  
        <div class="row">
          <div class="col s12">
          
            <div class="col s12 m6">
              <h5>Email:</h5>
              <h6>88.elee@gmail.com</h6>

            </div>

          <div class="col s12 m6">
              <img src="static/portfolio/images/linkedin_logo.png" width="50px;" alt="linkedin"><p class="left-align light">Lor;</p>
          </div>

        </div>


        </div>
  
      </div>
    </div> -->

  
{% endblock %}