{% extends "portfolio/extender.html" %}

{% block content %}

<div id="index-banner" class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
            <h1 class="header center white-text" style="font-family: 'Montserrat'; font-weight: 100;">Just You Fitness</h1>
    
            </div>
        </div>
        <div class="parallax"><img src="/static/portfolio/images/fitness.jpeg" alt="Unsplashed background img 1"></div>
    </div>
    
    
    <div class="container">
        <div class="section">
        
            <!--   Icon Section   -->
            <div class="row">
            <div class="col s12 m8">
            
        
                <h5 class="center" style="color: #003366; font-family: 'Montserrat'; font-weight: 100;">Overview</h5>
    
                <p class="light">Not only was I tasked to redesign my client’s website, but also to craft the copy for each page. Having worked with Just You Fitness for some time managing their social media, I had a clear vision of their brand, message, and voice.</p>
    
                <p class="light">The website is used to inform personal trainers about the business, as well as generate viable prospects who are interested in learning more about becoming a Just You Fitness franchise owner.</p>

                <p class="light">With days of launching the newly-designed website, the client saw a large increase of inquiries received.</p>
           
            </div>
    
    
            <div class="col s12 m4">
      
                <h5 class="center" style="color: #003366; font-family: 'Montserrat'; font-weight: 100;">Client</h5>
    
                <p class="light center" style="margin-top: -2px;">Just You Fitness Franchise</p>
    
                <h5 class="center" style="color: #003366; font-family: 'Montserrat'; font-weight: 100;">Technologies/Services</h5>
    
                <p class="light center" style="margin-top: -2px; margin-bottom: -1px;">WordPress</p>
                <p class="light center" style="margin-top: -2px; margin-bottom: -1px;">Copywriting</p>
                <p class="light center" style="margin-top: -2px; margin-bottom: -1px;">Content Creation</p>
            </div>
            </div>
        
        </div>
    <hr>

    <div class="container">
    <h5 class="center" style="color: #003366; font-family: 'Montserrat'; font-weight: 100;">Testimonial</h5>
    
        <p class="light" style="font-style: italic;">“Esther did a phenomenal job on our fitness website. She has an incredible ability to carefully listen to the needs of your website and help articulate the messaging in an effective way through your site. I highly recommend her.”</p>
   
        <h6 class="center">JP Zengerle</h6>
        <p class="light center">Founder</p>
    </div>

    <div class="container">

            <h4 class="center" style="color: #003366; font-family: 'Montserrat'; font-weight: 100; margin-top: 20px; margin-bottom: 20px;">Watch Video</h4>
    
            <div class="video-container" style="margin-bottom: 20px;">
                <iframe width="853" height="480" src="//www.youtube.com/embed/RQ3HDdpTHms" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

{% endblock %}