{% extends "portfolio/extender.html" %}

{% block content %}
{% load static %}

<div id="index-banner" class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
            <h1 class="header center white-text" style="font-family: 'Montserrat'; font-weight: 100;">Let's Eat!</h1>
    
            </div>
        </div>
        <div class="parallax"><img src="{% static "portfolio/images/restaurant.jpeg" %}" alt="Unsplashed background img 1"></div>
    </div>
    
    
    <div class="container">
        <div class="section">
        
            <!--   Icon Section   -->
            <div class="row">
            <div class="col s12 m8">
            
        
                <h5 class="center" style="color: #003366; font-family: 'Montserrat'; font-weight: 100;">Overview</h5>
    
                <p>A simple web application that allows users to add, rate, and review restaurants.</p>
    
                <p>Built with the MEAN stack, this application incorporates the front-end framework Angular with a MongoDB database. Bootstrap was also used to design the front-end website.</p>
           
                <p>Users can add, edit, or delete restaurants, read existing reviews, and add reviews for a particular restaurant.</p>

            </div>
    
    
            <div class="col s12 m4">
      
                <h5 class="center" style="color: #003366; font-family: 'Montserrat'; font-weight: 100;">Language</h5>
    
                <p class="light center" style="margin-top: -3px; margin-bottom: -3px;">JavaScript</p>
                <p class="light center" style="margin-top: -3px; margin-bottom: -3px;">TypeScript</p>
    
                <h5 class="center" style="color: #003366; font-family: 'Montserrat'; font-weight: 100;">Technologies</h5>
    
                <p class="light center" style="margin-top: -3px; margin-bottom: -4px;">Node.js</p>
                <p class="light center" style="margin-top: -3px; margin-bottom: -4px;">Angular 6</p>
                <p class="light center" style="margin-top: -3px; margin-bottom: -4px;">Express.js</p>
                <p class="light center" style="margin-top: -3px; margin-bottom: -4px;">MongoDB</p>
                <p class="light center" style="margin-top: -3px; margin-bottom: -4px;">Mongoose</p>
                <p class="light center" style="margin-top: -3px; margin-bottom: -4px;">Bootstrap</p>
            </div>
            </div>
        
        </div>
    <hr>

    <div class="container">

        <h4 class="center" style="color: #003366; font-family: 'Montserrat'; font-weight: 100; margin-top: 20px; margin-bottom: 20px;">Watch Video</h4>

        <div class="video-container">
            <iframe width="853" height="480" src="//www.youtube.com/embed/vWQBvAl-AQk" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="center" style="margin: 20px;">
            <a class="waves-effect waves-light btn-large" href="//18.222.187.4/restaurants">Go to Project</a>
            <a class="waves-effect waves-light btn-large" href="//github.com/estarlight/restaurant_reviewer">GitHub Code</a>
        </div>
    </div>


{% endblock %}